/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
/* Google Font */
@import url(//fonts.googleapis.com/css?family=IBM+Plex+Sans:wght@200..900);


        /* Component-specific stylesheets, if any 
@import "component1.css";   
          */

.App {
    text-align: center;
}

.App-header {
    background-color: #B7E4C7;
    color: #081C15;
    border-bottom: solid;
    font-size: large;
    font-weight: 500;
    align-items: center;
    margin-bottom: 5%;
    padding: 2px;
}

.App-footer {
    background-color: #40916C;
    color: #D8F3DC ;
    border: #40916C;
    font-size: large;
    font-weight: 400;
    margin-top: 4%;
    padding: 2px;
    width: 100%;
    text-align: center;
    position: bottom; 
}


/*  ----- Viewport ----- elements inherited by all remaining elements ----- */

body {      
  color:  #081C15;
  background-color: #D8F3DC;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: large;
  margin: 4px;
  padding: 4px;
}

h2 {
  text-align: center;
}



/* ----- Anchors ----- Text links */
a {
  background-color: #D8F3DC;
  font-size: larger;
  text-align: center;
  padding: 20px;
}

a:hover {
  background-color: #d9ed92;
}

nav {
  text-align: center; 
  background-color: #D8F3DC;
  color: #081C15;
  margin: 10px;
  font-weight: 300;
  vertical-align: middle;
}

nav a {
  text-align: center; 
  color: #081C15;
  margin: 10px;
  font-weight: 600;
  vertical-align: middle;
}

nav a:hover {
  text-align: center; 
  background-color: #d9ed92;
  color: #081C15;
  margin: 10px;
  font-weight: 600;
  vertical-align: middle;
}


 

/* PAGE LAYOUT 
Consistant design for each page layout block. 
*/
main {
  background-color: #D8F3DC;
  color: #081C15;
  border: #081C15;
  padding: 2px;

}

/* TABLE */
table {
  border-collapse: collapse;
  text-align: center;
  position:  center;
  width: 60%;
  margin-left: 20%;
}

th {
  color: #081C15;
  padding: 16px;
  text-align: center;
}

tr, td {
  border: 1px solid #1B4332;
  padding: 10px;
  text-align: center;
}

/* FORM */
form {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2em;
  padding: 2px;
}

input {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
  padding: 1px;
  margin: 6px;
}

button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  margin-top: 20px;
}

select {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2rem;
  padding: 2px;
}


@keyframes App-logo {}